<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="APKToolGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <APKToolGUI.Properties.Settings>
            <setting name="MAIN_Decode_NoSrc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_Decode_NoRes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_Decode_Force" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_Decode_UseFramework" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_Build_ForceAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_Decode_InputAppPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="MAIN_Decode_FrameDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="MAIN_BuildProjectDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="MAIN_InstallFramework_InputFramePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="MAIN_SIGN_InputFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="MAIN_SIGN_OutputFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="MAIN_Build_UseAapt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_Build_AaptPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="JavaExe" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastUpdateCheck" serializeAs="String">
                <value/>
            </setting>
            <setting name="CheckForUpdateAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearLogBeforeAction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BUILD_ForceAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BUILD_CustomAapt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BUILD_AaptPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="DECOMPILE_NoRes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DECOMPILE_NoSrc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DECOMPILE_Force" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DECOMPILE_UseFramework" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BUILD_CopyOriginal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BUILD_UseFramework" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BUILD_FrameworkPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="DECOMPILE_KeepBrokenResource" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DECOMPILE_MatchOriginal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_Decode_MatchOriginal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_Decode_KeepBrokenRes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_Build_CopyOriginal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_Build_FrameDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="MAIN_Build_UseFramework" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_Decode_UseOutputDir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_Decode_OutputDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="MAIN_Build_UseOutputAppPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_Build_OutputAppPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="MAIN_Build_InputDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="MAIN_InstallFramework_UseFrameDir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_InstallFramework_UseTag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_InstallFramework_Tag" serializeAs="String">
                <value/>
            </setting>
            <setting name="MAIN_InstallFramework_FrameDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="MAIN_Zipalign_AlignmentInBytes" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MAIN_Zipalign_OverwriteOutputFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_Zipalign_CheckOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_Zipalign_Verbose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_Zipalign_OutputFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="MAIN_Zipalign_InputFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="MAIN_Zipalign_Recompress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_SIGN_PublicKey" serializeAs="String">
                <value>bin\testkey.x509.pem</value>
            </setting>
            <setting name="MAIN_SIGN_PrivateKey" serializeAs="String">
                <value>bin\testkey.pk8</value>
            </setting>
        </APKToolGUI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
