<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="APKToolGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <APKToolGUI.Properties.Settings>
            <setting name="Decode_NoSrc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Decode_NoRes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Decode_Force" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Decode_UseFramework" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Build_ForceAll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Decode_InputAppPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BuildProjectDir" serializeAs="String">
                <value />
            </setting>
            <setting name="InstallFramework_InputFramePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Sign_InputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Sign_OutputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Build_UseAapt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Build_AaptPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="JavaExe" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUpdateCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckForUpdateAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearLogBeforeAction" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Decode_MatchOriginal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Decode_KeepBrokenRes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Build_CopyOriginal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Build_UseFramework" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Decode_UseOutputDir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Decode_OutputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Build_UseOutputAppPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Build_OutputAppPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Build_InputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Framework_UseFrameDir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InstallFramework_UseTag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InstallFramework_Tag" serializeAs="String">
                <value />
            </setting>
            <setting name="Framework_FrameDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Zipalign_AlignmentInBytes" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Zipalign_OverwriteOutputFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Zipalign_CheckOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Zipalign_Verbose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Zipalign_OutputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Zipalign_InputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Zipalign_Recompress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sign_PublicKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Sign_PrivateKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Decode_OnlyMainClasses" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Decode_FixError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Build_NoCrunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Decode_NoDebugInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Framework_ClearBeforeDecode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Build_ZipalignAfterBuild" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Build_SignAfterBuild" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Zipalign_UseOutputDir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Zipalign_SignAfterZipAlign" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sign_Alias" serializeAs="String">
                <value>CERT</value>
            </setting>
            <setting name="Sign_SetAlias" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Build_CreateUnsignedApk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sign_UseKeystoreFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sign_KeystoreFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Sign_KeystorePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Sign_UseOutputDir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sign_Schemev1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sign_Schemev2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sign_Schemev3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sign_Schemev4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Decode_ApiLevel" serializeAs="String">
                <value>29</value>
            </setting>
            <setting name="Build_ApiLevel" serializeAs="String">
                <value>29</value>
            </setting>
            <setting name="Build_SetApiLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Decode_SetApiLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Baksmali_InputDexFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Smali_OutputDexFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Baksmali_OutputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Baksmali_UseOutputDir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Smali_InputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Smali_OutputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Smali_UseOutputDir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreOutputDirContextMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Build_UseAapt2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlaySoundWhenDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCustomTempDir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TempDir" serializeAs="String">
                <value />
            </setting>
            <setting name="UseCustomJavaExe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoDeleteIdsigFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Utf8FilenameSupport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sign_OverwriteInputFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Adb_SetVendor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Adb_SelectedApkPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Sign_InstallApkAfterSign" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCustomApktool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApktoolPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Build_NetSecConf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Decode_DontParseApkInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCustomJVMArgs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomJVMArgs" serializeAs="String">
                <value>-Dfile.encoding=UTF8 -Djdk.util.zip.disableZip64ExtraFieldValidation=true -Djdk.nio.zipfs.allowDotZipEntry=true</value>
            </setting>
            <setting name="SplitApk_InputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="UseApkeditor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Adb_OverrideAbi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Adb_SetOverrideAbi" serializeAs="String">
                <value>False</value>
            </setting>
        </APKToolGUI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WinCopies.WindowsAPICodePack.Win32Native" publicKeyToken="ac0f4cf54a027a4d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.1.0" newVersion="2.10.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WinCopies.Util" publicKeyToken="cb02bf7a62cec965" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.17.0.0" newVersion="2.17.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
